@model List<Details>
@{
    ViewData["Title"] = "Detail Page";
}

<h1>Details</h1>

<div class=row mt-5>
    <div class="col-md-4">

        <div class="card " style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">An item</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
            </ul>
        </div>

    </div>

</div>
